body {
  padding: 0;
  margin-left: 20%;
}

/* .cores {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.btn {
  padding: 10px;
}

.corFundo {
  margin-top: 20px;
}